section {
    background-color: whitesmoke;
    padding: 10px 100px;
    border-left: 2px solid;
    border-right: 2px solid;
}

.book-list {
    list-style-type: none;
}

    .book-list :hover {
        font-weight: bolder;
        color: #b7a57a;
    }

.fas {
    color: #4b2e83;
}

figure {
    width: 20%;
    margin: 10px;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
      } 

      figure:hover {
        width: 300px;
        height: 300px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }

img {
    width: 100%;
    margin: auto;
}

nav {
    margin-bottom: 0px;
}

.main-footer {
    border-width: 2px;
}

.div-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    margin-top: 0px;
}

.sprite {
	width: 20%;
    height: 123px;
    position: relative;
    display: inline-block;
}

.sprite .sprite-front {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.sprite:hover .sprite-front{
    display: inline;
}

.back, .joker {
    background: url('/images/cards.jpg') ;
    background-repeat: no-repeat;
    width: 20%;
}

.back {
	background-position:  -809px -527px;
    height: 256px;
}

.joker {
    background-position:  -608px -527px;
    height: 256px;
}

.lines {
    width: 20%;
}

.ul-lines{
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.ul-lines :nth-child(1n + 2) {
    background: #b7a57a;
}

.ul-lines :nth-child(odd) {
    background: #4b2e83;
}

