section {
    background-color: whitesmoke;
    padding: 10px 100px;
    border-left: 2px solid;
    border-right: 2px solid;
}

.book-list {
    list-style-type: none;
}

    .book-list :hover {
        font-weight: bolder;
        color: #b7a57a;
    }

.fas {
    color: #4b2e83;
}

figure {
    width: 20%;
    margin: 10px;
}

img {
    width: 100%;
    margin: auto;
}

nav {
    margin-bottom: 0px;
}

.main-footer {
    border-width: 2px;
}

.div-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h2 {
    margin-top: 0px;
}