.book-list :hover {
    font-weight: bolder;
    color: #b7a57a;
}
figure {
    width: 20%;
    float: left;
    margin: 10px;
}
img {
    width: 100%;
    margin: auto;
}
nav {
    border-width: 0px 2px 2px 2px;
}
.main-footer {
    border-width: 2px;
}